@page "/"


//otro select por miguel
//8va sesion 2.22

<div class="main" style="background-color:aquamarine">
    <iframe width="640" height="480" title="video de youtube"
            src="https://www.youtube.com/embed/q7i42xTdMx8?list=PLsi0_y2gnnl5v_1bOfXpr8xU5c7-HJqCn"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>


@code{
    
}